# This file is part of DruPy.
# https://github.com/taylorpate/DruPy

# Licensed under the MIT license:
# http://www.opensource.org/licenses/MIT-license
# Copyright (c) 2015, Taylor Pate <taylorpate@gmail.com>

[run]
omit =
    *tests.py
branch = True
source =
    DruPy

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    from urllib.parse import parse_qs
    except ImportError:
